<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="wade.selenium.Listeners"/>
    </listeners>
    <test name="Home Page Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="wade.selenium.HomePageTest"/>
        </classes>
    </test>
    <test name="Search Page Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="wade.selenium.SearchPageTest"/>
        </classes>
    </test>
</suite>